<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supremepole.b02springbootmultimybatis.mapper1.WebsiteMapper">
    <insert id="addWebsite" parameterType="com.supremepole.b02springbootmultimybatis.Website">
        INSERT INTO website(id,name,url) VALUES (#{id},#{name},#{url})
    </insert>
    <delete id="deleteWebsiteById" parameterType="int">
        DELETE FROM website WHERE id=#{id}
    </delete>
    <update id="updateWebsite" parameterType="com.supremepole.b02springbootmultimybatis.Website">
        UPDATE website set name=#{name},url=#{url} WHERE id=#{id}
    </update>
    <select id="getWebsiteById" parameterType="int" resultType="com.supremepole.b02springbootmultimybatis.Website">
        SELECT * FROM website WHERE id=#{id}
    </select>
    <select id="getAllWebsites" resultType="com.supremepole.b02springbootmultimybatis.Website">
        SELECT * FROM website
    </select>
</mapper>